.footer
{
    width: 100%;
    height: 500px;
    border-top: 1px solid silver;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid silver;
}
.foot
{
    width: 33.3%;
    height: 100%;
    padding: 0 30px;
    padding-top: 50px;
}
.address
{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.address-img
{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.address-img img
{
    height: 70%;
}
.address-data
{
    width: 100%;
    margin-top: 20px;
}
.address-data h3,p
{
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.socials
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
}

.icon-s
{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 15px;
    color: white;
}

.fb
{
    background-color: #4867aa;
}

.tw
{
    background-color: #1da1f2;
}
.gg
{
    background-color: #dd5144;
}
.yt
{
    background-color: #fe0000;
}
.about-use
{
    display: flex;
}
.about-usefull
{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about-usefull h2
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 0;
}
.about-usefull p
{
    cursor: pointer;
}
.latest h2
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 0;
}
.footcard
{
    width: 90%;
    height: 90px;
    background-color: #f2f2f2;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.foot-img
{
    width: 30%;
    height: 70px;
}
.foot-img img
{
    max-width: 100%;
    max-height: 100%;
}

.foot-cont
{
    margin-left: 20px;

}

.foot-cont h4
{
    width: 100%;
    text-align: left;
}


@media(max-width:900px)
{
    .footer
    {
        flex-direction: column;
    }
    .foot
    {
        width: 100%;
    }
    .about-use
    {
        flex-direction: column;
    }
}